In [71]:
print("Let's Master ML 0-100% Complete")

Let's Master ML 0-100% Complete

In [112]:
import pandas as pd

In [134]:

# Create a DataFrame with addition data
data = {'Number 1': range(1, 19),
        'Number 2': [f"{i}" for i in range(1, 19)],
        'Result': [i + i for i in range(1, 19)]}

df = pd.DataFrame(data)

# Save the DataFrame to CSV
df.to_csv('../data/addition_data.csv', index=False)

print("CSV file created successfully.")

CSV file created successfully.

In [135]:
df = pd.read_csv('../data/addition_data.csv')
df

    Number 1  Number 2  Result
0          1         1       2
1          2         2       4
2          3         3       6
3          4         4       8
4          5         5      10
5          6         6      12
6          7         7      14
7          8         8      16
8          9         9      18
9         10        10      20
10        11        11      22
11        12        12      24
12        13        13      26
13        14        14      28
14        15        15      30
15        16        16      32
16        17        17      34
17        18        18      36

In [127]:
df.dtypes

Number 1    int64
Number 2    int64
Result      int64
dtype: object

In [128]:
from sklearn.model_selection import train_test_split

In [129]:
X = df[['Number 1', 'Number 2']] 
y = df['Result']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [130]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [131]:
from sklearn.metrics import accuracy_score

# Make predictions on the test set
y_pred = model.predict(X_test)

# # Calculate accuracy
# accuracy = accuracy_score(y_test, y_pred)
# print(f'Accuracy: {accuracy}')

In [132]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print the results
print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'R-squared (R²): {r2}')

Mean Absolute Error: 2.886579864025407e-15
Mean Squared Error: 8.38164711797325e-30
R-squared (R²): 1.0

In [133]:
import numpy as np

new_data = np.array([[5, 2]])

# Predict the class for the new data point
new_prediction = model.predict(new_data)
print(f"Predicted class: {new_prediction}")

Predicted class: [7.]

/Users/shashankr/Development/Artificial Intelligence Projects/Zogle Labs/Learning Projects/Master-Learning/master-env/lib/python3.12/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(