In [2492]:
print("Let's Master ML 0-100% Complete")

Let's Master ML 0-100% Complete

In [2493]:
# # addition_subtraction.ipynb

# # Import necessary libraries
# import pandas as pd
# import random
# from sklearn.preprocessing import OneHotEncoder

# # 1. Generate random addition data (10 rows)
# addition_data = {
#     'Number 1': [random.randint(1, 10) for _ in range(1, 6)],
#     'Operation': [0] * 5,
#     'Number 2': [random.randint(1, 10) for _ in range(1, 6)],
#     'Result': []
# }

# # Calculate the result of addition for each pair
# for i in range(5):
#     addition_data['Result'].append(addition_data['Number 1'][i] + addition_data['Number 2'][i])

# # Create the DataFrame for addition
# df_addition = pd.DataFrame(addition_data)

# # 2. Generate random subtraction data (10 rows)
# subtraction_data = {
#     'Number 1': [random.randint(1, 10) for _ in range(1, 2)],
#     'Operation': [1] * 1,
#     'Number 2': [random.randint(1, 10) for _ in range(1, 2)],
#     'Result': []
# }

# # Calculate the result of subtraction for each pair
# for i in range(1):
#     subtraction_data['Result'].append(subtraction_data['Number 1'][i] - subtraction_data['Number 2'][i])

# # Create the DataFrame for subtraction
# df_subtraction = pd.DataFrame(subtraction_data)


# # 3. Combine both DataFrames (addition and subtraction) into one
# df_combined = pd.concat([df_addition, df_subtraction], ignore_index=True)

# # 4. Save the combined DataFrame to CSV
# df_combined.to_csv('../data/addition_subtraction_data.csv', index=False)

# # Display the combined DataFrame in the notebook
# df_combined.head()

# # Print confirmation that the file is created
# print("Combined Addition and Subtraction CSV file created successfully.")

In [2494]:

df = pd.read_csv('../data/addition_subtraction_data.csv')
# One-hot encode the 'Operation' column (Addition = 0, Subtraction = 1)
# encoder = OneHotEncoder(sparse_output=False)
# operation_encoded = encoder.fit_transform(df[['Operation']])

# # Add the encoded columns to the dataframe
# df_encoded = pd.DataFrame(operation_encoded, columns=['Addition', 'Subtraction'])
# df = pd.concat([df, df_encoded], axis=1)
df

   Number 1  Operation  Number 2  Result
0         7          0         5      12
1         3          0         1       4
2         7          0         8      15
3         1          0         1       2
4         1          0         1       2
5         4          0         4       8
6         1          1         6      -5
7         2          1         1       1

In [2495]:
print("Before", len(df))
print("duplicates found", df.duplicated().sum())
df.drop_duplicates(inplace=True)
print(len(df))

Before 8
duplicates found 1
7

In [2496]:
from sklearn.model_selection import train_test_split

In [2497]:
X = df[['Number 1','Operation', 'Number 2' ]] 
y = df['Result']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [2498]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [2504]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print the results
print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'R-squared (R²): {r2}')

Mean Absolute Error: 4.020270270270268
Mean Squared Error: 16.454757121986837
R-squared (R²): -0.028422320124177336

In [2505]:
import numpy as np

new_data = np.array([[10, 0, 2]])

# Predict the class for the new data point
new_prediction = model.predict(new_data)
print(f"Predicted class: {new_prediction}")

Predicted class: [27.01447876]

/Users/shashankr/Development/Artificial Intelligence Projects/Zogle Labs/Learning Projects/Master-Learning/master-env/lib/python3.12/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(